body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  overflow: hidden; /* Prevents scrolling when button moves */
  position: relative; /* This allows absolute positioning of buttons within the whole screen */
}

img {
  width: 80%;
  max-width: 300px;

  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
  position: absolute;
}

#yesBtn {
  background-color: green;
  color: white;
}

#noBtn {
  background-color: red;
  color: white;
}
.yes {
  position: absolute;
  display: block;
  width: 15vw; /* Responsive width */
  height: auto; /* Maintain aspect ratio */
  max-width: 100px; /* Prevent being too big on large screens */
  max-height: 100px;
}
